.aboutUsBanner{
	width: 571px;
	height: 200px;
	margin: 10px 0 10px 0;
	background-image: url("../images/aboutUsBanner.jpg");
	background-repeat: no-repeat;
}
.blogHeading, .mainBody > #blogPage1 > h1 {
	font-weight: bold;
	font-size: 34px;
	color: #669933;
	text-transform: uppercase;
	letter-spacing: .2px;
	margin-top: 35px;

  	-webkit-animation-delay: 0.5s;
  	-moz-animation-delay: 0.5s;
  	-o-animation-delay: 0.5s;
  	animation-delay: 0.5s;
}
.greenPara {
	display: inline-block;
	width: 280px;
	margin-top: 20px;
	font-family: "Century Gothic";
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .2px;
	line-height: 18px;
	padding: 0 20px 0 0px;
	color: #666666;
	float: left;
}
.greenPara > .paraBullet {
	font-family: "Webdings";
	font-size: 10px;
	color: #0066cc;
}
#para1 {
  	-webkit-animation-delay: 1s;
  	-moz-animation-delay: 1s;
  	-o-animation-delay: 1s;
  	animation-delay: 1s;
}
#para2 {
  	-webkit-animation-delay: 1.5s;
  	-moz-animation-delay: 1.5s;
  	-o-animation-delay: 1.5s;
  	animation-delay: 1.5s;
}
.blogImage1 {
	display: inline-block;
	/*width: 574px;
	height: 431px;
	background-image: url("../img/greenHouse.jpg");
	background-repeat: no-repeat;*/
	margin-top: 20px;

  	-webkit-animation-delay: 1.7s;
  	-moz-animation-delay: 1.7s;
  	-o-animation-delay: 1.7s;
  	animation-delay: 1.7s;
}
.imageCaption {
	display: block;
	font-family: "Century Gothic";
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	letter-spacing: .2px;
	line-height: 16px;
	color: #003366;
	margin-top: 10px;
	margin-right: 50px;

  	-webkit-animation-delay: 1.7s;
  	-moz-animation-delay: 1.7s;
  	-o-animation-delay: 1.7s;
  	animation-delay: 1.7s;
}
.blogLinks {
	font-family: "Century Gothic";
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: .2px;
	line-height: 16px;

  	-webkit-animation-delay: 1.7s;
  	-moz-animation-delay: 1.7s;
  	-o-animation-delay: 1.7s;
  	animation-delay: 1.7s;
}
.blogLinks > a {
	display: inline-block;
	width: 435px;
	color: #003366;
	float: left;
}
.nextPage {
	width: 22px;
	height: 16px;
	background-image: url("../images/nextPageArrow.png");
	background-repeat: no-repeat;
	float: right;
	margin: 20px 10px 0 0;
	cursor: pointer;
}